.chat-background {
  background-color: #957bbe;
  height: 100vh;
  width: 100vw;
}

.chat-container {
  position: relative;
  height: 90%;
}

.chat-row {
  width: 100%;
  height: 100%;
}

div.dialog-list-block {
  padding: 0;
  width: 100%;
  height: 100%;
}

div.messages-list-block {
  padding: 0;
}
