.dialog-container {
  height: 15vh;
}

.dialog-card {
  height: 90%;
  width: 95%;
  background-color: #fff;
  border-radius: 10px;
}

.title-pane {
  border-radius: 10px 10px 0 0;
  height: 40%;
  background-color: #8c39ef;
}

.title {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  margin-left: 0.5rem;
}

.message-pane {
  height: 60%;
}

.message {
  width: 100%;
}

.author-dark {
  color: rgba(0, 0, 0, 0.95);
  font-weight: 600;
}
