.message-wrapper {
  width: 100%;
  height: auto;
  min-height: 100px;
}

.message-card {
  width: 70%;
  min-height: 80%;
  height: auto;
  margin: 1.5vh 0;
  margin-left: 15px;
  background-color: #e7eff7;
  border-radius: 25px;
}

.my-message {
  background: rgb(120, 82, 241);
  background: linear-gradient(
    90deg,
    rgba(120, 82, 241, 1) 0%,
    rgba(183, 74, 249, 1) 100%
  );
  color: rgba(255, 255, 255, 0.9);
}

.my-message .message span {
  color: #fff;
  font-weight: 600;
}

.message {
  height: 90%;
  width: 90%;
  margin: 5% 5%;
}
