.create-chat-popup {
  width: 70vh;
  height: 35vh;
  position: absolute;
  bottom: 35%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 500;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
  background-color: #957bbe;
  border-radius: 20px;
  transition: all 0.7s;
}

.chat-title-label {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
}
