.dialog-list-container {
  height: 100%;
  width: 100%;
  background-color: #f8fafb;
  overflow: auto;
  padding: 30px 5px;
  border-radius: 15px 0 0 15px;
}

::-webkit-scrollbar {
  display: none;
}

.dialog-list-container {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}
