.login-container {
  background-color: #957bbe;
  height: 100vh;
  width: 100vw;
  transition: all 1s;
}

.form-group {
  width: 25vw;
}

.form-control {
  background-color: #563d7c;
  border: none;
  height: 8vh;
  color: rgba(255, 255, 255, 0.6);
  box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.6);
  transition: width 0.5s, height 0.5s;
}

.form-control:focus {
  background-color: #563d7c;
  height: 9vh;
  width: 27vw;
  color: #fff;
  box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.6);
}

.form-control::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.btn-login {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  color: #2f2143;
  font-weight: 500;
  font-size: 1.2rem;
  width: 12vw;
}
